[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.lakshmidev99.online
Environment=$component_HOST=$component.lakshmidev99.online
Environment=$component_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target