[Unit]
Description = $component Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb.lakshmidev99.online:27017/$component"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=$component

[Install]
WantedBy=multi-user.target